# Ignore virtual environment
venv/

# Ignore database
db.sqlite3

# Ignore Django migrations
**/migrations/
!**/migrations/__init__.py

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env
