{% extends 'base.html' %}


{% block title %}
Blogs
{% endblock title %}


{% block contents %}
<section class="section blogs" aria-label="all blogs">
  <div class="container">
    <h1 class="h1 section-title">Our Blogs</h1>
    <ul class="grid-list">
      {% for post in blogs %}
        <li>
          <div class="blog-card">
            <figure class="card-banner img-holder" style="--width: 550; --height: 660;">
              {% if post.blog_image %}
                <img src="{{ post.blog_image.url }}" width="550" height="660" loading="lazy" alt="{{ post.title }}" class="img-cover">
              {% else %}
                <img src="/path/to/default-image.jpg" width="550" height="660" loading="lazy" alt="{{ post.title }}" class="img-cover">
              {% endif %}
            </figure>
            <div class="card-content">
              <ul class="card-meta-list">
                {% for tag in post.tags.all %}
                  <li>
                    <a href="#" class="card-tag">{{ tag.name }}</a>
                  </li>
                {% endfor %}
              </ul>
              <h3 class="h4">
                <a href="{% url 'blog_detail' post.slug %}" class="card-title hover:underline">{{ post.title }}</a>
              </h3>
              <p class="card-text">{{ post.excerpt }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
    <div class="pagination">
      {% if blogs.has_previous %}
        <a href="?page={{ blogs.previous_page_number }}" class="btn">Previous</a>
      {% endif %}
      <span>Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}</span>
      {% if blogs.has_next %}
        <a href="?page={{ blogs.next_page_number }}" class="btn">Next</a>
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}
